body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
   
}
.name-highlight{
    color: orange;
}
.font{
    font-family: 'Aclonica', sans-serif;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    width: 100%;
    border-radius: 50%;
}