body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
   
}
p{
    color: rgb(72, 72, 72);
}

.name-highlight{
    color: #fa9b17;
}
.name-highlight:hover{
    color: rgb(0, 157, 255);
}
.font{
    font-family: 'Aclonica', sans-serif;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 40px;
}
.halfwidth img{
    
    border-radius: 50%;
    height: 85%;
    width: 85%;
    margin-left: 100px;
    margin-top: 20px;
    transition-duration: 1s;
    
}
.halfwidth img:hover{
    height: 87%;
    width: 87%;
}

.topbnn{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
section{
    height: 500px;
    padding-bottom: 0px;
}
#para{
    margin-top: 40px;
}

.linkbttn{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(246, 79, 13),tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition-duration: 1s;
    
}
.linkbttn:hover{
    background-image: linear-gradient(45deg,rgb(33, 4, 255),rgb(4, 75, 255));
    padding: 15px 25px; 
}
.name-highlight{
    color: #fa9b17;
    font-family: 'Aclonica', sans-serif;   
}

.dreamarea{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
    margin-top: 100px;

}
.ex-area{
    float: left;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: left;
    margin-top: 20px;
}
.name-highlight1{
    color: #fa9b17;
}
.si-ex{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 30px;
    height: 75%;
    margin-bottom: 90px;
    background-color: #fff;
    transition-duration: 1s;
    
}
.si-ex:hover{
    background-color: rgb(224, 251, 255);
    padding-right: 30px;
}
.si-ex1{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 30px;
    height: 75%;
    margin-bottom: 90px;
    background-color: #fff;
    transition-duration: 1s;
    
}

.si-ex1:hover{
    background-color: rgb(224, 251, 255);
    padding-left: 60px;
    
}

footer{
    margin-top: 700px;
    height: 135px;
    background-color:#fea761;
    margin-bottom: 50px;
    
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    transition-duration: 1s;

}
footer:hover{
    height:150px ;
    background-color: rgb(135, 174, 251);
    color: white;
}
footer h2{
    padding-top: 20px;
    color: rgb(0, 0, 0);
}
footer a{
    font-size: 45px;
    position: relative;
    top: -20px;
    color:rgb(0, 0, 0);
    padding: 15px;
    padding:0,30px;
    
}

.fb:hover{
    color: rgb(0, 81, 255);
}
.tw:hover{
    color: rgb(30, 131, 255);
}
.li:hover{
    color: rgb(0, 76, 255);
}
.you:hover{
    color: red;
}
.lol{
    transition-duration: 1s;
}
.lol{
      margin-left:0px;
      height: 75%;
      width: 75%; 
      transition-duration: 1s;
}

.lol:hover{
    height: 78%;
    width: 78%;
}
